<nav role="navigation">
	<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
		<div class="menu_section">
			<ul class="nav side-menu" ng-switch="vm.isAuthenticated()">
				<li class="dropdown">
				<a data-toggle="collapse" href="#dropdown-1"> <span
						class="glyphicon glyphicon-th-list"></span> <span class="title">Entities</span>
						<span class="fa fa-chevron-down"></span>
				</a>
					<div id="dropdown-1" class="panel-collapse collapse">
						<ul class="nav" ng-switch-when="true">
							<li ui-sref-active="active"><a ui-sref="region-my-suffix"
								ng-click="vm.collapseNavbar()"> <span
									class="glyphicon glyphicon-asterisk"></span>&nbsp; <span>Region
										My Suffix</span>
							</a></li>
							<li ui-sref-active="active"><a ui-sref="country-my-suffix"
								ng-click="vm.collapseNavbar()"> <span
									class="glyphicon glyphicon-asterisk"></span>&nbsp; <span>Country
										My Suffix</span>
							</a></li>

							<li ui-sref-active="active"><a ui-sref="location-my-suffix"
								ng-click="vm.collapseNavbar()"> <span
									class="glyphicon glyphicon-asterisk"></span>&nbsp; <span>Location
										My Suffix</span>
							</a></li>
							<li ui-sref-active="active"><a
								ui-sref="department-my-suffix" ng-click="vm.collapseNavbar()">
									<span class="glyphicon glyphicon-asterisk"></span>&nbsp; <span>Department
										My Suffix</span>
							</a></li>
							<li ui-sref-active="active"><a ui-sref="task-my-suffix"
								ng-click="vm.collapseNavbar()"> <span
									class="glyphicon glyphicon-asterisk"></span>&nbsp; <span>Task
										My Suffix</span>
							</a></li>
							<li ui-sref-active="active"><a ui-sref="employee-my-suffix"
								ng-click="vm.collapseNavbar()"> <span
									class="glyphicon glyphicon-asterisk"></span>&nbsp; <span>Employee
										My Suffix</span>
							</a></li>
							<li ui-sref-active="active"><a ui-sref="job-my-suffix"
								ng-click="vm.collapseNavbar()"> <span
									class="glyphicon glyphicon-asterisk"></span>&nbsp; <span>Job
										My Suffix</span>
							</a></li>
							<li ui-sref-active="active"><a
								ui-sref="job-history-my-suffix" ng-click="vm.collapseNavbar()">
									<span class="glyphicon glyphicon-asterisk"></span>&nbsp; <span>Job
										History My Suffix</span>
							</a></li>
						</ul>
					</div></li>

				<li class="dropdown">
				<a data-toggle="collapse"
					href="#dropdown-2"> <span class="glyphicon glyphicon-user"></span>
						<span class="title">Account</span> <span
						class="fa fa-chevron-down"></span>
				</a>
					<div id="dropdown-2" class="panel-collapse collapse">
						<ul class="nav">
							<li ui-sref-active="active" ng-switch-when="true"><a
								ui-sref="settings" ng-click="vm.collapseNavbar()"> <span
									class="glyphicon glyphicon-wrench"></span>&nbsp; <span>Settings</span>
							</a></li>

							<li ui-sref-active="active" ng-switch-when="true"><a
								ui-sref="password" ng-click="vm.collapseNavbar()"> <span
									class="glyphicon glyphicon-lock"></span>&nbsp; <span>Password</span>
							</a></li>
							<li ui-sref-active="active" ng-switch-when="true"><a
								ui-sref="sessions" ng-click="vm.collapseNavbar()"> <span
									class="glyphicon glyphicon-cloud"></span>&nbsp; <span>Sessions</span>
							</a></li>
							<li ui-sref-active="active" ng-switch-when="true"><a href=""
								ng-click="vm.logout()" id="logout"> <span
									class="glyphicon glyphicon-log-out"></span>&nbsp; <span>Sign
										out</span>
							</a></li>
							<li ui-sref-active="active" ng-switch-when="false"><a
								href="" ng-click="vm.login()" id="login"> <span
									class="glyphicon glyphicon-log-in"></span>&nbsp; <span>Sign
										in</span>
							</a></li>
							<li ui-sref-active="active" ng-switch-when="false"><a
								ui-sref="register" ng-click="vm.collapseNavbar()"> <span
									class="glyphicon glyphicon-plus-sign"></span>&nbsp; <span>Register</span>
							</a></li>

						</ul>
					</div></li>

				<li class="dropdown">
					<a data-toggle="collapse"
					href="#dropdown-3"> <span class="glyphicon glyphicon-tower"></span>
						<span class="title">Administration</span> <span
						class="fa fa-chevron-down"></span>
					</a>
					<div id="dropdown-3" class="panel-collapse collapse">
						<ul class="nav" ng-switch-when="true" has-authority="ROLE_ADMIN">
							<li ui-sref-active="active"><a ui-sref="user-management"
								ng-click="vm.collapseNavbar()"> <span
									class="glyphicon glyphicon-user"></span>&nbsp; <span>User
										management</span>
							</a></li>

							<li ui-sref-active="active"><a ui-sref="jhi-tracker"
								ng-click="vm.collapseNavbar()"> <span
									class="glyphicon glyphicon-eye-open"></span>&nbsp; <span>User
										tracker</span>
							</a></li>
							<li ui-sref-active="active"><a ui-sref="jhi-metrics"
								ng-click="vm.collapseNavbar()"> <span
									class="glyphicon glyphicon-dashboard"></span>&nbsp; <span>Metrics</span>
							</a></li>
							<li ui-sref-active="active"><a ui-sref="jhi-health"
								ng-click="vm.collapseNavbar()"> <span
									class="glyphicon glyphicon-heart"></span>&nbsp; <span>Health</span>
							</a></li>
							<li ui-sref-active="active"><a ui-sref="jhi-configuration"
								ng-click="vm.collapseNavbar()"> <span
									class="glyphicon glyphicon-list-alt"></span>&nbsp; <span>Configuration</span>
							</a></li>
							<li ui-sref-active="active"><a ui-sref="audits"
								ng-click="vm.collapseNavbar()"> <span
									class="glyphicon glyphicon-bell"></span>&nbsp; <span>Audits</span>
							</a></li>
							<li ui-sref-active="active"><a ui-sref="logs"
								ng-click="vm.collapseNavbar()"> <span
									class="glyphicon glyphicon-tasks"></span>&nbsp; <span>Logs</span>
							</a></li>
							<li ng-show="vm.swaggerEnabled" ui-sref-active="active"><a
								ui-sref="docs" ng-click="vm.collapseNavbar()"> <span
									class="glyphicon glyphicon-book"></span>&nbsp; <span>API</span>
							</a></li>
							<!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
							<li ng-hide="vm.inProduction"><a href='/h2-console'
								target="_tab" ng-click="vm.collapseNavbar()"> <span
									class="glyphicon glyphicon-hdd"></span>&nbsp; <span>Database</span>
							</a></li>


						</ul>
					</div></li>

			</ul>
		</div>
	</div>

</nav>

<!-- /menu footer buttons -->
<div class="sidebar-footer hidden-small">
	<a ui-sref="settings" data-toggle="tooltip" data-placement="top" title="Settings"> <span
		class="glyphicon glyphicon-cog" aria-hidden="true"></span>
	</a> <a data-toggle="tooltip" data-placement="top" title="FullScreen">
		<span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
	</a> <a data-toggle="tooltip" data-placement="top" title="Lock"> <span
		class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
	</a> <a data-toggle="tooltip" data-placement="top" title="Logout" href=""
		ng-click="vm.logout()"> <span class="glyphicon glyphicon-off"
		aria-hidden="true"></span>
	</a>
</div>
<!-- /menu footer buttons -->
<script>
$(function () {
    return $(".menu_section .nav .dropdown").on('show.bs.collapse', function () {
        return $(".menu_section .nav .dropdown .collapse").collapse('hide');
    });
});

var $BODY = $('body'), $SIDEBAR_MENU = $('#sidebar-menu'), $SIDEBAR_FOOTER = $('.sidebar-footer'), $LEFT_COL = $('.left_col'), $RIGHT_COL = $('.right_col'), $NAV_MENU = $('.nav_menu'), $FOOTER = $('footer');

var setContentHeight = function() {
	// reset height
	$RIGHT_COL.css('min-height', $(window).height());

	var bodyHeight = $BODY.outerHeight();
	var footerHeight = $BODY.hasClass('footer_fixed') ? -10 : $FOOTER.height();
	var leftColHeight = $LEFT_COL.eq(1).height() + $SIDEBAR_FOOTER.height();
	var contentHeight = bodyHeight < leftColHeight ? leftColHeight : bodyHeight;

	// normalize content
	contentHeight -= $NAV_MENU.height() + footerHeight;

	$RIGHT_COL.css('min-height', contentHeight);
};

$SIDEBAR_MENU.find('a').on('click', function(ev) {
	console.log('clicked - sidebar_menu');
	setContentHeight();
	}
);

setContentHeight();

</script>