<nav role="navigation">
	<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
		<div class="menu_section">
			<h3>General</h3>
			<ul class="nav side-menu">
				<li class="dropdown">
					<a data-toggle="collapse" href="#dropdown-1"> <span
						class="glyphicon glyphicon-th-list"></span> <span class="title">Entities</span>
				</a> <!-- Dropdown level 1 -->
					<div id="dropdown-1" class="panel-collapse collapse">
						<div>
							<ul class="nav">
								<li ui-sref-active="active"><a ui-sref="region-my-suffix"
									ng-click="vm.collapseNavbar()"> <span
										class="glyphicon glyphicon-asterisk"></span>&nbsp; <span>Region
											My Suffix</span>
								</a></li>
								<li ui-sref-active="active"><a ui-sref="country-my-suffix"
									ng-click="vm.collapseNavbar()"> <span
										class="glyphicon glyphicon-asterisk"></span>&nbsp; <span>Country
											My Suffix</span>
								</a></li>
							</ul>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>

</nav>